{% extends "base.html.twig" %}

{% block title %}Index{% endblock %}

{% block content %}
<h1>Home</h1>

<p class="important">
Welcome to my awesome homepage.
<img src="{{ asset("img/mos.png") }}" width="200px" alt="mos">
</p>

<p><a href="{{ asset("img/mos.png") }}">View the image</a></p>

{% endblock %}
